html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  /* A4 at 72dpi: 595 pixels x 842 pixels = 1190 x 1684
  A4 at 300dpi: 2480 pixels x 3508 pixels
  A4 at 600dpi: 4960 pixels x 7016 pixels */

   /* 	   Extra small	Small	Medium	Large
   Class prefix	.col-xs	.col-sm	.col-md	.col-lg
   Screen width	<576px	>=768px	>=992px	>=1200px */
   @media screen and (max-width: 576px) {
   
    	.container-name {
    	  		order:-1;
    	  }

		h1 {
   	
   	
	font-size: 2em;
		}
		
       h2 {
	font-size: 0.8em;
	

}
h3 {
	
	padding: 2.1em;
}
}
	@media screen and (min-width: 576px) {
   .container-name {
    	  		order:0;
    	  }

		h1 {
   	
   	
	font-size: 2em;
		}
		
       h2 {
	font-size: 0.8em;
	

}
h3 {
	
	padding: 2.1em;
}
}
	@media screen and (min-width: 768px){
		.container-name {
    	  		order:0;
    	  }
	h1 {
	font-size: 3em;
		}
	h2 {
	font-size: 1em;
	}
}
	@media screen and (min-width: 992px){
	h1 {
	font-size: 4em;
		}
		h2{
	font-size: 1.3em;	
	}
		
	}
	@media screen and (min-width: 1200px){
	h1 {
	font-size: 4em;
		}
	h2{
	font-size: 1.3em;	
	}
	}
   
body {
width: 90%;
margin: 0 auto 0 auto;
text-align: left;
color:#24292E;
overflow-y: scroll;
  }
h1 {
	
	font-weight: 350;
	text-transform: uppercase;
	margin-bottom:0.4em;
}
h2 {
	/*font-size: 1.3em;*/
	font-weight: 600;
	border-left: 1.5px solid #24292E; 
	border-bottom: 1.5px solid #24292E;
	text-align: left;
	padding: 0 0 0.5em 1em;
	margin-bottom: 0.8em;
	width: 80%;
	border-radius: 2px;
	line-height: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
h3 {
	font-size: 0.9em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	text-align: center;
	flex:100%;
	z-index: 90;
	line-height: 1.5em;
}
h4 {
	font-size: 0.8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
}
h6 {
	font-size: 1em;
}
/* .profile, .education {
	background-color: #F1F1F1;
	border-radius: 5%;
	padding-top: 1em;
} */
[class*=container] {
	
}
.xsi {
	background-color: #377BB5;
	max-width: 300px;
	align-self: center;
}
.underline {
	border-bottom: 1px solid black;
}
.bg {
padding-top: 1em;
border-radius: 3%;
}
.bg.education {
	background-color: #F1F1F1;
}
.bg.profile {
	background-color: #F1F1F1;
}
/* [class*=name] {
	align-self: center;
} */
/* .triangle {
	float:left;
	width:0;
	height:0;
	border-top:40px solid black;
	border-right:40px solid transparent;

} */
.container-picture .picture {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
 #picture img {
	width:60%;
	min-width: 200px;
	height: 60%;
	border-radius: 50%;
	text-align: center;
}
.picture img {
	width:100%;
	height:auto;
	filter:grayscale(40%);
}
.picture img:hover {
	filter:grayscale(0%);
}
.btn {
	background-color: #24292E;
	color: #F1F1F1; 
}
.box-title {
	display: flex;
	flex-wrap: wrap;	
}
.container-name {
	background-color: #24292E;
	color: #F1F1F1;
	border: white;
}
  .container-name::after {
  	content:"";
  	position: absolute;
  	left: -2px;
  	bottom: -2px;
  	border-width: 50px 0 0 955px;
  	border-style: solid;
  	border-color: transparent white white white;
  	z-index:5;
 
 } 
 .big-letter {
	font-size: 3.2em;
	font-weight: 400;
	float:left;
	line-height: 0.5em;
	padding-top: 0.1em;
	margin-right:0em;
}


small {
	
	color: ;
	margin-left: 0em;
	padding-left: 1.2em;

	
}
.small {
	text-align: center;
	width: 100%;
	margin: 0 0 0 .5rem;
}
p {
  	font-size: 0.8em;
  	color:#24292E;
  }
.link {
  	text-decoration: none;
  	color: black;
}
.link:hover {
	color:#F1F1F1;
	background-color: #24292E;
	text-decoration: none;
}
.btn:hover {
	color:#24292E;
	background-color: #F1F1F1;
}
.fas, .fab {
	font-size: 1.5em;
	/*margin-right: 0.4em;*/
	color:#24292E;
	border-radius: 10%;
	color: 1px solid transparent;

}
.fas.fa-home {
	margin-right: 0.2em;
	
}
.container-fluid_skills {

}
/* .container-skills {
	min-width: 465px;
} */

[class*=bloc] {
	height: 1.6em;
}
.full {
	background-color: #24292E;
	border-left: 2px solid white ;
	border-right: 2px solid white ;
	border-top: 1px solid white ;
	border-bottom: 1px solid white ;
	
	border-radius: 15%;
}
.bloc.empty {
	background-color: #F1F1F1;
	
	border-left: 2px solid white ;
	border-right: 2px solid white ;
	border-top: 1px solid white ;
	border-bottom: 1px solid white;
	border-radius: 10%;

	
}
.fa-file-excel {

}
[class*=col] {
	margin-bottom: 0.1em;
}
.page1 {
	min-height: 100vh;
}
.page2 {
	min-height: 100vh;
}
.card {
	margin: 1rem;
	margin-top: 3rem;
}
.card-img-top {
	min-width: 160px;
	max-width: 160px;
	align-self: center;
}
.skills {
	line-height: 1.2em;
}
.container-img {
	min-height: 150px;
	text-align: center;
}